.card-container {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1px solid #363636;

    .card-background {
        width: 300px;
        height: 150px;
        position: absolute;
        background-size: cover;
        border-radius: 20px;
        z-index: 0;
        filter: blur(8px);
    }

    &:hover {
        .card-background {
            filter: blur(0px);
            cursor: pointer;
        }

        .lensEffect {
            display: none;
        }
    }

    .lensEffect {
        width: 60%;
        height: 175%;
        background-color: #000000;
        filter: blur(2px);
        opacity: .3;
        position: absolute;
        top: -60px;
        left: 151px;
        transform: rotate(20deg);
    }

    .card {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        transition: transform 0.3s;
        
        &:hover {
            cursor: pointer;            
        }
    }
}